.why-use-us-grid{
    display: grid;
    gap: 1rem;
}

.why-us-card{
    padding: 2rem 1rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.why-us-card:hover{
    border: 1px solid var(--light-blue);
}

.why-us-card svg{
    font-size: 4rem;
    background-color: var(--light-blue);
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.why-us-card:nth-child(1) svg{
    background-color: #EBFEF3;
    color: #219652;
}

.why-us-card:nth-child(2) svg{
    background-color: #FFF6ED;
    color: #EC7710;
    color: #F39E53;
}

.why-us-card:nth-child(3) svg{
    background-color: #fff3f5;
    color: #FF2928;
}

.why-us-card:nth-child(4) svg{
    background-color: #EEEEFD;
    color: #4345ED;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .why-use-us-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px) {
    .why-use-us-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}